.weather-preview {
  padding: 10px;
  box-shadow: 0 0 4px 1px #0000003b;
  cursor: pointer;


  img{
   width: 400%;
   height: 200%;
    object-fit: cover;
      &.Snow{
        object-position: 20px 30px;
      }
    &.Sleet{
        object-position: 70px 30px;
    }
    &.Hail{
      object-position: -75px -8px;
    
    }
    &.Thunderstorm{
        object-position: 45px 30px;

    }
    &.Heavy.Rain{
      object-position: -183px -105px;

    }
    &.Light.Rain{
      object-position: -416px -120px;
    }
    &.Showers	{
      object-position:  -170px -105px;

    }
    &.Heavy.Cloud	{
      object-position: -50px -119px;

    }
    &.Light.Cloud	{
       object-position: -56px -5px;
        

    }
    &.Clear	{
      object-position: -411px 4px;
    }
    
    }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
}
