.weather-app {

  .top {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }

  select{
margin-bottom: 20px;
border-color: cornflowerblue;
    border-radius: 20px;
    height: 24px;
  }
}

