.weather-app {
  & > h1:first-of-type {
    text-align: center;
  }
  .top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  li{
    font-size: 14px;
    display: flex;
    gap: 15px;
  }

  select{
margin-bottom: 20px;
border-color: cornflowerblue;
    border-radius: 20px;
    height: 24px;
  }
}

p{
  font-size:14px;
 }
