.weather-details {
  margin-top: 50px;
  a {
    color: blue;
  }
  img {
    width: 400px;
    height: 200px;
    margin-right: 10px;
    object-fit: cover;
    &.Snow {
      object-position: 20px 30px;
    }
    &.Sleet {
      object-position: 70px 30px;
    }
    &.Hail {
      object-position: -75px -8px;
    }
    &.Thunderstorm {
      object-position: 45px 30px;
    }
    &.Heavy.Rain {
      object-position: -192px -105px;
    }
    &.Light.Rain {
      object-position: -438px -120px;
    }
    &.Showers {
      object-position: -186px -101px;
    }
    &.Heavy.Cloud {
      object-position: -69px -119px;
    }
    &.Light.Cloud {
      object-position: -81px -5px;
    }
    &.Clear {
      object-position: -437px 4px;
    }
  }
  > p {
    text-align: center;
  }
}

.sources {
  gap: 5px;
  color: darkblue;
  text-align: center;
  margin-top: 15%;
}
